chardet==7.4.3
fastapi==0.136.3
langchain_community==0.4.2
langchain_core==1.4.0
langchain_huggingface==1.2.2
langchain_text_splitters==1.1.2
modelscope==1.37.1
openai==2.38.0
pydantic==2.13.4
Requests==2.34.2
torch==2.6.0+cu124
transformers==5.9.0
